.row{
    
    max-width: 1600px;
    width: 100%;
    margin: 0 auto; 
}

#department{
    background-image: linear-gradient(white, rgb(4, 19, 44));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.lead__name{
    display: flex;
    text-align: center;
}

@media(max-width:620px){
    .leader__headers{
        font-size: 20px;
        text-align: center;
    }
}

.leader__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elena__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}

.danil__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
}

.elena__img--department{
    max-width: 150px;
    border-radius: 50%;
}

.elena__img--wrapper--department{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.danil__img--department{
    max-width: 150px;
    border-radius: 50%;
}

.danil__img--wrapper--department{
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.lead__color{
    color: white;
    text-decoration: none;
}

