.sponsors{
    background-color: rgb(4, 19, 44);
}
.sponsors__title{
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 35px 0 12px 0;
    color: white;
    text-align: center;
}

.sponsors__logo{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    background-color: rgb(4, 19, 44);
}

.sponsor{
    max-width: 100px;
}

.sponsorthin{
    max-width: 200px;
}

.sponsor3{
    border-radius: 99px;
}

@media(max-width:500px){
    .sponsor{
        max-width: 20vw;
    }
}